.achievement-container {
  width: 30%;
  padding: 0 2%;
  margin: 1% 1%;
  border: 1px solid $light-grey-border;
  text-align: center;
  img {
    width: 4rem;
  }
}

.achievements {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  padding: 1rem;
  transition: background .3s ease;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 25px;
}

.finished-achievement {
  text-decoration: line-through;
}
