.data-cell {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fff;
   border-radius: 25px;

  p, input {
    margin: 0;
  }
}
