.top-bar {
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: .5rem;
  font-family: 'Trocchi', serif;
  font-size: 1.25rem;

  ul {
    background-color: #fff;
  }

  a {
    color: $green;
  }

  .menu-text {
    color: $charcoal;
    font-weight: bold;
  }
}
