h1 {
  color: $charcoal;
  font-family: 'Trocchi', serif;
  font-weight: normal;
  margin: 0;
  font-size: 2.2rem;
  text-align: center;
}

body {
  background-color: $grey;
}

h1 a,

h1 a:visited { color: #333333 }

h1 a:hover { color: #93291b; text-decoration: none; }
