

.datacell {
  &:hover {
    cursor: pointer;
  }
}

.player__subtext {
  color: $grey;
}

.psn {
  color: $charcoal;
  font-size: 1.5rem;
}
.stat_header {
  color: $green;
  font-size: 1.5rem;
  text-align: center;
}
.psn_img {
  padding: 0;
  width: 50px;
  height: 50px;
  border: 1px solid $light-grey-border;
}
.player_right {
  margin-left: auto;
}

.psn_holder {
  border-right: 1px solid $green;
  padding-right: 15px;
  margin-right: 17px;
  width: 20%;
}

.psn_holder2 {
  border-right: 2px solid $light-grey-border;
  text-align: center;
  padding-right: 15px;
  margin-right: 17px;
  width: 15%;

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-grey-border;
    margin: 1em 0;
    padding: 0;
  }
}
